p{
    color:blue;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align:center;
    text-decoration:solid;
    line-height:2;
    letter-spacing: 2px;
    text-transform:capitalize


}